@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");

.navbar {

  .navbar-brand {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 30px;
    color: #ffffff;
  }

  .nav-item {
    .nav-link {

      font-family: 'Permanent Marker', sans-serif;
    }
  }
}


